@model VidlyMovieApp.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var className = Model.Customer.Count > 0 ? "Popular" : null;
}
<h2 class="@className">@Model.Movie.Name</h2>
@if(Model.Customer.Count==0)
{
    <p>No one has rented this movie before.</p>
}
else
{
 <ul>
@foreach(var customer in Model.Customer)
{
    <li>@customer.Name</li>
}
</ul>  
}

